<!--
  <app-categorias-cadastro></app-categorias-cadastro>
  <app-categorias-pesquisa></app-categorias-pesquisa>
  <app-cidades-cadastro></app-cidades-cadastro>
-->
<p-sidebar [(visible)]="sideBar">
  <div class="ui-g">
    <div class="ui-g-12 ui-fluid">
      <h1 class="boxButton">Menu</h1>
      <button type="button" (click)="sideBar = false" pButton label="Novo Livro" routerLink="/livros/novo" class="boxButton"></button>
      <button type="button" (click)="sideBar = false" pButton label="Novo Autor" routerLink="/autores/novo" class="boxButton"></button>
    </div>
  </div>
</p-sidebar>
<button type="button" (click)="sideBar = true"
pButton icon="pi pi-bars" class="boxButton"></button>


<router-outlet></router-outlet>


