<p-toast></p-toast>

<div class="container">

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Livro</h1>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Título</label>
        <input pInputText type="text" name="nome" [(ngModel)]="livro.titulo" #nome="ngModel" required minlength="3">
        <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
        <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Preço</label>
        <input pInputText type="number" name="preco" [(ngModel)]="livro.preco" #nome="ngModel" required>
        <div *ngIf="nome.hasError('required') && nome.touched">Informe um preço</div>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <p-pickList [source]="autores" [target]="livro.autores"
        sourceHeader="Autores" targetHeader="Selecionadas"
        [responsive]="true"  [dragdrop]="true"
        [showSourceControls]="false" [showTargetControls]="false">
          <ng-template let-cat pTemplate="item">
              <div class="ui-helper-clearfix">
                  <div style="font-size:12px;float:right;margin:5px 5px 0 0">{{cat.nome}}</div>
              </div>
          </ng-template>
      </p-pickList>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
        <a routerLink="/livros">Voltar para a Pesquisa</a>
      </div>
    </div>
  </form>
</div>
